{
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "Bread.parse",
            "throwIfNamespace": false
        }]
    ]
}